a.fa-twitter:hover{
    color: #1da1f2;
}
ul.icons li a.fa-twitter:hover {
	border-color: #1da1f2;
}

a.fa-youtube-play:hover{
    color: #e62117;
}
ul.icons li a.fa-youtube-play:hover {
	border-color: #e62117;
}

a.fa-pinterest:hover{
    color: #bd081c;
}
ul.icons li a.fa-pinterest:hover {
	border-color: #bd081c;
}

a.fa-github:hover{
    color: #333;
}
ul.icons li a.fa-github:hover {
	border-color: #333;
}

a.fa-lastfm:hover{
    color: #b90000;
}
ul.icons li a.fa-lastfm:hover {
	border-color: #b90000;
}

a.fa-steam:hover{
    color: #171a21;
}
ul.icons li a.fa-steam:hover {
	border-color: #171a21;
}

a.fa-vine:hover{
    color: #00bf8f;
}
ul.icons li a.fa-vine:hover {
	border-color: #00bf8f;
}

a.fa-vimeo:hover{
    color: #4bf;
}
ul.icons li a.fa-vimeo:hover {
	border-color: #4bf;
}